This script relates to assignment on clustering neighborhoods in Toronto.

1. This segment of code scrapes wiki page and convert it to a dataframe in required format.

    a. Below code reads wiki table and create raw dataframe 'postal_df_wiki'

In [86]:
import pandas as pd #import pandas

url_wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' #define wiki url
postal_df_wiki = pd.read_html(url_wiki)[0] # read table in dataframe using read_html
print(postal_df_wiki.shape)
postal_df_wiki.head()

(180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

    b. Below code checks if there are rows with value 'Not assigned' in column 'Borough' and discards those rows from the dataframe. New dataframe is named 'post_df'

In [91]:
#Find if 'Borough' column has any row with value 'Not assigned'
na_borough = (len(postal_df_wiki[postal_df_wiki['Borough']!='Not assigned']))
print("Number of rows with 'Not assigned' value in column 'Borough': " + str(postal_df_wiki.shape[0]-na_borough))

#remove rows with 'Not assigned' values if any in 'Borough' column
if na_borough > 0:
    post_df=postal_df_wiki.loc[postal_df_wiki['Borough']!='Not assigned']
    
print('Numbber of rows remaining: ' + str(post_df.shape[0]))

Number of rows with 'Not assigned' value in column 'Borough': 77
Numbber of rows remaining: 103

    c. Below code checks if column 'Neighbourhood' has any row with value 'Not assigned', if there is then corresponding value from column 'Borough' is copied there.

In [99]:
import numpy as np

#Assign 'Borough' value if 'Neighbourhood' value is 'not assigned'

print('Number of rows to be replaced: ' + str(len(post_df[post_df['Neighbourhood']=='Not assigned'])))

if len(post_df[post_df['Neighbourhood']=='Not assigned']) > 0:
    post_df['Neighbourhood'] = np.where(post_df['Neighbourhood']=='Not assigned',post_df['Borough'],post_df['Neighbourhood'])

Number of rows to be replaced: 0

    d.Below code will merge values in 'Neighbourhood' rows with same 'Postal Code'.

In [105]:
post_code = post_df.shape[0]-len(post_df['Postal Code'].unique())
print('Number of repeated postal codes: ' + str(post_code))

#Concatenate rows values of 'Neighbourhood' if 'Postal Code' is repeated
if post_code > 0:
    post_df.groupby(['Postal Code'])['Neighbourhood'].apply(','.join).reset_index()

Number of repeated postal codes: 0

In [109]:
print('Number of rows in data frame: ' + str(post_df.shape[0]))

Number of rows in data frame: 103

    2. This segment of codes will add latitude and longitude columns to earlier dataframe.

    a.  Dataframe 'll_df' reads latitude and longitude from url provided.

In [116]:
ll_url ='https://cocl.us/Geospatial_data' #url for csv with latitude and longitude mapped to postal codes
ll_df = pd.read_csv(ll_url)
ll_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

    b. Using merge method 'post_df' dataframe is joined to 'll_df', dataframe 'df' is merged dataframe.

In [118]:
df = pd.merge(post_df,ll_df,on='Postal Code')
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494